* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  flex-direction: column;
}

body {
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  font-family: "Lato", sans-serif;
}

/* <!-- --------------------header------------------------ --> */

.header {
  display: flex;
  justify-content: center;
  background-color: #222222;
  gap: 860px;
}

.logo_search {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 41px;
  padding-top: 18px;
  padding-bottom: 19px;
}

.tool_bar_top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
  padding-top: 18px;
  padding-bottom: 20px;
}

.log_shop_div {
  display: flex;
  gap: 25px;
}

/* <!-- ----------------------top-------------------------- --> */

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e4e6;
  gap: 63px;
  margin-bottom: 65px;
}

.top_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top_riht {
  display: flex;
  justify-content: flex-start;
  width: 800px;
  gap: 16px;
}

.h1_top {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.p_top {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pink_fashion {
  color: #f16d7f;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* <!-- ------------------------------------offer--------------------- --> */

.ofer {
  display: grid;
  justify-content: center;
  grid-template-columns: 360px 360px 360px;
  /* grid-template-rows: 1fr; */
  margin-bottom: 96px;
  gap: 30px;
}

.ofer1 {
  background-image: url(../img/for_women.png);
  width: 360px;
  height: 260px;
  /* filter: brightness(40%);  */
}

.ofer2 {
  background-image: url(../img/for_man.png);
  width: 100%;
  height: 100%;
}

.ofer3 {
  background-image: url(../img/for_kids.png);
  width: 360px;
  height: 260px;
}
.ofer4 {
  background-image: url(../img/for_luxirous.png);
  grid-column: 1/4;
  width: 1140px;
  height: 180px;
}

.ofer_filtr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
}

.p_ofer {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p_ofer_B {
  color: #f16d7f;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* <!-- ------------------------products------------------------------- --> */

.fetured {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.p_fetured_1 {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p_fetured_2 {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_items_all {
  display: grid;
  justify-content: center;
  grid-template-columns: 360px 360px 360px;
  gap: 30px;
  margin-bottom: 50px;
}

.product_text {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
  padding-right: 30px;
}

.p_products_1 {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
  margin-bottom: 13px;
}

.p_products_2 {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 18px;
}

.p_products_3 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.button_products {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.button_products_style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
  background: inherit;
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_items_1,
.products_items_2,
.products_items_3,
.products_items_4,
.products_items_5,
.products_items_6 {
  background: #f8f8f8;
}

.products_hover_1 {
  background-image: url(../img/items_1.png);
  width: 360px;
  height: 420px;
}

.products_hover_2 {
  background-image: url(../img/items_2.png);
  width: 360px;
  height: 420px;
}

.products_hover_3 {
  background-image: url(../img/items_3.png);
  width: 360px;
  height: 420px;
}

.products_hover_4 {
  background-image: url(../img/items_4.png);
  width: 360px;
  height: 420px;
}

.products_hover_5 {
  background-image: url(../img/items_5.png);
  width: 360px;
  height: 420px;
}

.products_hover_6 {
  background-image: url(../img/items_6.png);
  width: 360px;
  height: 420px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 420px;
  transition: all 0.3s;
}

.filter:hover {
  background: rgba(58, 56, 56, 0.86);
}

.filter:hover .knopka_block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  background: none;
}

.knopka_block {
  display: none;
}

.knopka_zakaz {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 11px;
  padding: 12px 17px 9px 14px;
}

.text_zakaz {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 5s;
  padding-right: 16px;
}

/* ------------------------------ Baner ----------------------------
*/

.baner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #222224;
  padding-top: 104px;
  padding-bottom: 104px;
}

.diliver {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.img_deliver_1 {
  margin-bottom: 30px;
}

.img_deliver_2 {
  margin-bottom: 20px;
}

.img_deliver_3 {
  margin-bottom: 25px;
}

.p_deliver_h {
  color: #fbfbfb;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.p_deliver_p {
  color: #fbfbfb;
  text-align: center;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 360px;
}

/* ------------------------------- Feedback ------------------ */

.feedback {
  display: flex;
  justify-content: center;
  background-image: url(../img/Img_feedBack.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.fillter_feedback {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 480px;
  padding-top: 100px;
  padding-bottom: 156px;
  background: rgb(244, 244, 244, 0.7);
}

.direktor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.director_slogan {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 360px;
}

.subscribe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sub {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167%;
}

.promotion {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
  margin-bottom: 32px;
}

.form_first {
  display: flex;
  flex-direction: row;
}

.form_second {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #e1e1e1;
  border-radius: 20px 0 0 20px;
  padding-left: 22px;
  width: 256px;
  height: 50px;
}

.mail_sub {
  background: #e1e1e1;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.but_sub {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #f16d7f;
  border-radius: 0 50px 50px 0;
  border: none;
  width: 100px;
  height: 50px;
}

/* ------------------------------ Footer ------------------------ */

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 655px;
  background: rgb(34, 34, 36);
  padding-top: 25px;
  padding-bottom: 25px;
}

.yers_brend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.brend {
  color: #fbfbfb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social_network {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.social_img_footer {
  background: #ffffff;
  padding: 10px 11px 10px 11px;
  transition: all 0.3s;
}

.social_img_footer:hover {
  fill: white;
  background: #f16d7f;
}

.social_img_footer:hover path {
  fill: white;
}

/* ------------------------------ for tablet-------------------------- */

@media (max-width: 768px) {
  /* body {
    display: flex;
    align-items: center;
    flex-direction: column;
  } */

  .top {
    gap: 40px;
  }

  .header {
    gap: 425px;
  }

  .tolik_top {
    width: 386px;
    height: 386px;
  }

  .top_riht {
    display: flex;
    justify-content: flex-start;
    width: 402px;
  }

  .h1_top {
    color: #222;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .p_top {
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .pink_fashion {
    color: #f16d7f;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .ofer {
    display: grid;
    justify-content: center;
    grid-template-columns: 232px 232px 232px;
    grid-template-rows: 1fr;
    margin-bottom: 110px;
    gap: 20px;
  }

  .ofer1 {
    background-image: url(../img/for_women.png);
    background-size: 232px 168px;
    width: 232px;
    height: 168px;
  }

  .ofer2 {
    background-image: url(../img/for_man.png);
    background-size: 232px 168px;
    width: 232px;
    height: 168px;
  }

  .ofer3 {
    background-image: url(../img/for_kids.png);
    background-size: 232px 168px;
    width: 232px;
    height: 168px;
  }
  .ofer4 {
    background-image: url(../img/for_luxirous.png);
    grid-column: 1/4;
    background-size: 735px 116px;
    width: 735px;
    height: 116px;
  }

  .fetured {
    margin-bottom: 73px;
  }

  .products_items_all {
    display: grid;
    justify-content: center;
    grid-template-columns: 360px 360px;
    gap: 16px;
    margin-bottom: 33px;
  }

  .button_products {
    margin-bottom: 71px;
  }

  .baner {
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 64px;
  }

  .fillter_feedback {
    flex-direction: column;
    gap: 50px;
    padding-top: 64px;
    padding-bottom: 140px;
  }

  .footer {
    gap: 305px;
  }
}

/* ---------------------------- for mobile------------------------------- */

@media (max-width: 375px) {
  /* body {
    display: flex;
    align-items: center;
    flex-direction: column;
  } */

  .header {
    display: flex;
    justify-content: center;
    background-color: #222222;
    gap: 200px;
  }
  .log_shop_div {
    display: none;
  }

  .tolik_top {
    width: 0;
    height: 0;
  }

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1e4e6;
    gap: 0;
  }

  .top_riht {
    display: flex;
    justify-content: center;
    padding-top: 148px;
    padding-bottom: 149px;
  }

  .pinck_splash {
    width: 12px;
    height: 61px;
  }

  .h1_top {
    color: #222;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .p_top {
    color: #222;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .pink_fashion {
    color: #f16d7f;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .ofer {
    display: grid;
    justify-content: center;
    grid-template-columns: 343px;
    margin-bottom: 64px;
    gap: 32px;
  }

  .ofer1 {
    background-image: url(../img/for_women.png);
    background-repeat: no-repeat;
    background-size: 343px 247px;
    width: 343px;
    height: 247px;
  }

  .ofer2 {
    background-image: url(../img/for_man.png);
    background-repeat: no-repeat;
    background-size: 343px 247px;
    width: 343px;
    height: 247px;
  }

  .ofer3 {
    background-image: url(../img/for_kids.png);
    background-repeat: no-repeat;
    background-size: 343px 247px;
    width: 343px;
    height: 247px;
  }
  .ofer4 {
    background-image: url(../img/for_luxirous.png);
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1;
    /* background-size: 343px 111px; */
    width: 343px;
    height: 111px;
  }

  .fetured {
    margin-bottom: 65px;
  }

  .products_items_all {
    display: grid;
    justify-content: center;
    grid-template-columns: 360px;
    gap: 16px;
    margin-bottom: 40px;
  }

  .button_products {
    margin-bottom: 85px;
  }

  .p_deliver_p {
    width: 348px;
  }

  .director_slogan {
    width: 343px;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding-top: 45px;
    padding-bottom: 10px;
  }

  .form_second {
    width: 200px;
  }

  .but_sub {
    width: 95px;
  }
}
